<app-header></app-header>
<h1 class="container bg-dark text-white">ngIf show {{show}}</h1>
<div class="container" >
    <button class="btn btn-warning" (click)="show=!show" >Ver</button>
    <div ngClass="pt-3"></div>
    <button [ngClass]="'btn btn-dark mb-3'" (click)="fondo='bg-dark'">Primero</button>
    <button [ngClass]="'btn btn-success mb-3'" (click)="fondo='bg-danger'">Segundo</button>
    <p *ngIf="show" class="text-info" [ngClass]="fondo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione minima, autem praesentium fugiat molestiae, et dolore at fuga enim laborum, nemo sed exercitationem. Rerum recusandae commodi voluptatum, sit mollitia alias!</p>
</div>
<div class="container">
    <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione minima, autem praesentium fugiat molestiae, et dolore at fuga enim laborum, nemo sed exercitationem. Rerum recusandae commodi voluptatum, sit mollitia alias!</p>
</div>

<app-footer></app-footer>